

/* Register Form Styles */
.register-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
  }
  
  .register-container {
    background-color: rgb(235, 221, 191);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .register-button {
    width: 100%;
    padding: 10px;
    background-color: #865716;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .register-button:hover {
    background-color: #caab5f;
  }
  
  .success-message {
    color: rgb(146, 109, 39);
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
  }
  
  p {
    text-align: center;
  }
  
  a {
    color: #a78d41;
    text-decoration: none;
  }